{% extends 'base.html.twig' %}

{% block body %}

	<main class="d-flex align-items-center justify-content-center h-100 flex-column">
		{% block securityForm %}
		{% endblock %}
	</main>

	<div class="fixed-bottom text-center pb-2">
		<span class="uk-text-small uk-text-muted">
			© 2020 Deveosys -
			<a href="https://www.deveosys.com" target="_blank">
				Created by Deveosys
			</a>
		</span>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('security') }}
{% endblock %}
